main {
  width: 100%;
  height: 100%;
  background-image: url("../image/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
main .top {
  border-radius: 0.5rem;
  background-color: hsl(228deg, 56%, 26%);
  width: 100%;
  padding: 2rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
main .top .logo {
  width: 8rem;
}
main .top .buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
}
main .top .buttons button {
  cursor: pointer;
  background-color: hsl(229deg, 57%, 11%);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 2.8rem;
}
main .bottom {
  width: 100%;
}
main .bottom .bottom-container {
  padding: 2rem;
  background-color: hsl(228deg, 56%, 26%);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .bottom .bottom-container p {
  color: hsl(243deg, 100%, 93%);
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 0.5px;
}
main .bottom .bottom-container span {
  font-weight: 700;
}
main .bottom .bottom-container .space-container {
  background: hsl(229deg, 57%, 11%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1px 3px;
  width: 100%;
  height: 1.2rem;
  border-radius: 5rem;
}
main .bottom .bottom-container .space-container .indicator {
  display: flex;
  justify-content: flex-end;
  padding: 1px 3px;
  background: linear-gradient(to right, hsl(6deg, 100%, 80%), hsl(335deg, 100%, 65%));
  width: 75%;
  height: 0.9rem;
  border-radius: 2rem;
}
main .bottom .bottom-container .space-container .indicator .circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1rem;
  background: #fff;
}
main .bottom .range {
  margin-top: -0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
main .bottom .range p {
  font-weight: 700;
}
main .bottom .space-left {
  background: #fff;
  width: 65%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: -1.5rem auto;
}
main .bottom .space-left h1 {
  width: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
main .bottom .space-left span {
  font-size: 0.8rem;
  color: hsl(229deg, 7%, 55%);
}

@media screen and (min-width: 768px) {
  main {
    padding: 8rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .top {
    border-top-right-radius: 5rem;
    background-color: hsl(228deg, 56%, 26%);
    width: 70%;
  }
  main .bottom {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  main .bottom .bottom-container {
    padding: 2rem;
    background-color: hsl(228deg, 56%, 26%);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  main .bottom .bottom-container p {
    color: hsl(243deg, 100%, 93%);
    font-size: 0.85rem;
    text-align: center;
    letter-spacing: 0.5px;
  }
  main .bottom .bottom-container span {
    font-weight: 700;
  }
  main .bottom .space-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    background: #fff;
    width: 40%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: -1rem 0 -1rem 12rem;
  }
  main .bottom .space-left h1 {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
  }
  main .bottom .space-left span {
    font-size: 0.8rem;
    color: hsl(229deg, 7%, 55%);
  }
  main .bottom .arrow {
    margin-top: -1rem;
    position: relative;
    top: 1.1rem;
    left: 94%;
    background: rgb(255, 255, 255);
    height: 1rem;
    width: 1rem;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 8rem 5rem;
  }
  main .top {
    border-top-right-radius: 5rem;
    background-color: hsl(228deg, 56%, 26%);
    width: 70%;
  }
  main .bottom {
    margin-top: 0.5rem;
  }
  main .bottom .bottom-container {
    padding: 2rem 3rem;
  }
  main .bottom .bottom-container p {
    color: hsl(243deg, 100%, 93%);
    font-size: 0.85rem;
    text-align: left;
    letter-spacing: 0.5px;
  }
  main .bottom .bottom-container span {
    font-weight: 700;
  }
  main .bottom .space-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    background: #fff;
    width: 40%;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    margin: -1rem 0 -1rem 15rem;
  }
  main .bottom .space-left h1 {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
  }
  main .bottom .space-left span {
    font-size: 0.8rem;
    color: hsl(229deg, 7%, 55%);
  }
  main .bottom .arrow {
    margin-top: -1rem;
    position: relative;
    top: 1.7rem;
    left: 95.5%;
    background: rgb(255, 255, 255);
    height: 1rem;
    width: 1rem;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}
@media screen and (min-width: 1440px) {
  main {
    background-image: url("../image/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 8rem 15rem;
  }
  main .top {
    padding: 2rem 2.5em;
    border-top-right-radius: 6rem;
    width: 60%;
  }
  main .top .logo {
    width: 50%;
  }
  main .top .buttons button {
    padding: 1rem;
    width: 4rem;
  }
  main .bottom {
    margin-top: -0.8rem;
  }
  main .bottom .bottom-container {
    padding: 2rem 3rem;
  }
  main .bottom .bottom-container p {
    font-size: 1.3rem;
  }
  main .bottom .space-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    background: #fff;
    width: 40%;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    margin: -1rem 0 -1rem 18rem;
  }
  main .bottom .space-left h1 {
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  main .bottom .space-left span {
    font-size: 1rem;
    color: hsl(229deg, 7%, 55%);
  }
  main .bottom .arrow {
    top: 2rem;
    left: 92.5%;
    height: 1.5rem;
    width: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background: hsl(229deg, 57%, 11%);
}/*# sourceMappingURL=styles.css.map */